#slurm-menu {
	position: relative;
	background-color: #fff;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	border: 1px solid #ccc;
	border-radius: 4px;
	width: 250px;
	padding: 10px;
	display: none;
	z-index: 1000;
}

#slurm-menu ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

#slurm-menu li {
	padding: 8px;
	border-bottom: 1px solid #eee;
	display: flex;
	flex-direction: column;
	background-color: #fff;
}

#slurm-message {
	position: fixed;
	top: 20px;
	right: 20px;
	padding: 10px 20px;
	background-color: #4CAF50;
	color: white;
	border-radius: 5px;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
	z-index: 9999;
	font-size: 14px;
	opacity: 1;
	transition: opacity 1s ease-out;
}
